# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Automake cruft
Makefile
config.log
config.status

# And the executables
brownion
bvd
disttest
meta
sirmixed
z.*
